body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  font-weight: 100;
}

.hidden {
  visibility: hidden;
}

.todo {
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: #af2f2f80;
}

.todoinput {
  display: flex;
  align-items: center;
  background: white;
  padding: 1rem 0.75rem;
  box-shadow: inset 0 -2px 1px rgb(0 0 0/ 3%);
}

input {
  border: none;
  padding: 0.5rem;
  font-weight: 100;
  margin-left: 0.5rem;
  outline: none;
  font-size: 24px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: lightgrey;
}

.Todolist {
  background: white;
  position: relative;
}

.has-todo:before,
.has-todo:after {
  content: "";
  z-index: 1;
  position: absolute;
  height: 1rem;
  border: 1px solid lightgray;
  background: white;
}

.has-todo:before {
  bottom: -0.5rem;
  width: 94%;
  left: 3%;
}

.has-todo:after {
  width: 96%;
  left: 2%;
  bottom: -0.25rem;
}

.todo-item {
  position: relative;
  z-index: 2;
  background: white;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.check {
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 1.6rem;
  height: 1.6rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  margin-right: 1rem;
}

span {
  flex-grow: 1;
}

.complete {
  text-decoration: line-through;
  opacity: 0.25;
}

.close {
  display: none;
  cursor: pointer;
}

.todo-item:hover .close {
  display: block;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: white;
  position: relative;
  z-index: 2;
  font-size: 0.85rem;
}

.statuses {
  display: grid;
  grid-template-columns: auto auto auto;
}

.statuses span {
  padding: 0.15rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  text-transform: capitalize;
}

.selected {
  border: 1px solid lightgrey;
}

.clear:hover {
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}
